.dictionary {
    width: 100%;
}
.dictionary__tabs-block {
    line-height: 3;
}
.dictionary__tabs-block span {
    border: 2px solid rgba(0, 0, 0, .6);
    box-sizing: border-box;
    margin-right: 8px;
    padding: 8px;
}
.dictionary__tab {
    display: none;
}
.dictionary__tab_active {
    display: block;
}