.main {
  display: flex;
}
.content {
  margin-right: 64px;
  padding-top: 30px;
  width: 100%;
}
.block {
  width: 100%;
}
.header {
  min-height: 64px;
}
.banner {
  position: relative;
  height: 160px;
  width: 100%;
  background: #e5ebfd;
  border-radius: 14px;
  margin-bottom: 16px;
}
.banner__img {
  position: absolute;
  bottom: 0;
  right: 104px;
  width: 160px;
}
.banner__title {
  position: absolute;
  top: 24px;
  left: 64px;
  font-family: "Baloo Bhai";
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 57px;
}
.banner__text {
  position: absolute;
  top: 96px;
  left: 64px;
  font-family: "Roboto";
  padding-left: 1px;
}
.block__profile {
  display: flex;
  margin-bottom: 24px;
}
.block__game-title {
  margin-bottom: 16px;
  line-height: 32px;
  font-size: 24px;
  font-family: Baloo Bhai;
  text-align: center;
}
.block .word__games {
  flex-direction: row;
  justify-content: space-between;
}
.info {
  margin-bottom: 16px;
  transition: 1s all ease-in ;
}
.info__block {
  display: flex;
  justify-content: space-evenly;
   margin-bottom: 16px;
}
.info__title {
  margin-bottom: 8px;
  line-height: 32px;
  font-size: 26px;
  font-family: Baloo Bhai;
  text-align: center;
}
.info__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px;
  min-width: 320px;
}
.info__text {
  display: flex;
  align-items: center;
  font-family: "Baloo Bhai";
  font-size: 24px;
}
.info__image_1 {
  background-image: url(assets/images/image-1.svg);
}
.info__image_2{
  background-image: url(assets/images/game.svg);
}
.info__image_3 {
  background-image: url(assets/images/image-3.svg);
 }
.info__image_4 {
  background-image: url(assets/images/image-4.svg);
 }
 .video {
   margin-bottom: 32px;
 }
 .video__title {
  font-family: "Baloo Bhai";
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
 }
 .video__block {
   display: flex;
   justify-content: center;
   border-radius: 8px;
 }
iframe {
  border-radius: 16px;
}