.word {
  width: 996px;
}

.word__loader span {
  font-size: 32px;
  animation: loading duration timing-function delay iteration-count direction
    fill-mode;
}
.word__btn-groups {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;
  justify-content: center;
}

.btn-groups__difficult,
.btn-groups__delete {
  border: 2px solid #f5f5f7;
  box-sizing: border-box;
  border-radius: 8px;
  background: none;
  padding: 8px;
  width: 80px;
  height: 40px;
  outline: none;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 10px;
  color: white;
}
.btn-groups__difficult {
  margin-bottom: 8px;
  background-color: #0d6efd;
  box-sizing: border-box;
}
.btn-groups__delete {
  background-color: #000000ea;
  box-sizing: border-box;
}
.word__games {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px ;
}
.word__games .word__game:last-child {
  margin-right: 0;
}
.word__game {
  flex: 0 0 calc(25% - 8px);
  height: 144px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.word__game a {
  display: block;
  height: 100%;
}
.block .word__games {
  flex-direction: column;
  align-items: unset;
}
.block .word__games .word__game {
  margin-right: 0px;
}
.word__game-audiovyzov{
  background-image: url(assets/images/audiovyzov.jpg);
}
.word__game-speakIt { 
  background-image: url(assets/images/speakIt.jpg);
}
.word__game-savanna {
  background-image: url(assets/images/savanna.jpg);
}
.word__game-sprint {
  background-image: url(assets/images/sprint.jpg);
}