.word {
  width: 996px;
}

.word__loader span {
  font-size: 32px;
  animation: loading duration timing-function delay iteration-count direction
    fill-mode;
}
.word__btn-groups {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;
  justify-content: center;
}

.btn-groups__difficult,
.btn-groups__delete {
  border: 2px solid #f5f5f7;
  box-sizing: border-box;
  border-radius: 8px;
  background: none;
  padding: 8px;
  width: 80px;
  height: 40px;
  outline: none;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 10px;
  color: white;
}
.btn-groups__difficult {
  margin-bottom: 8px;
  background-color: #000000ea;
}
.btn-groups__delete {
  background-color: #000000ea;
}