.sidebar {
  width: 180px;
  height: 100%;
  margin: 0;
}
.sidebar__container {
  position: sticky;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #0c0b0b;
  width: 132px;
  max-height: 862px;
  border-radius: 24px;
  height: 650px;
}
.logo-app {
  font-size: 64px;
  font-style: normal;
  font-weight: normal;
  line-height: 102px;
  color: #ffffff;
  font-family: "Baloo Bhai";
}
.menu {
  display: flex;
  flex-direction: column;
  max-width: 26px;
}
.menu__item {
  margin-bottom: 64px;
}
.login {
  margin-bottom: 40px;
}

.sidebar__login {
  width: 27px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 24px;
  position: relative;
}
.sidebar__login-icon {
  font-family: "Baloo Bhai";
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
