.sidebar {
  width: 180px;
  height: 100%;
  margin: 0;
}
.sidebar__container {
  position: sticky;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #0c0b0b;
  width: 132px;
  max-height: 862px;
  border-radius: 24px;
  height: 650px;
}
.logo-app {
  font-size: 64px;
  font-style: normal;
  font-weight: normal;
  line-height: 102px;
  color: #ffffff;
  font-family: "Baloo Bhai";
}
.menu {
  display: flex;
  flex-direction: column;
  max-width: 26px;
}
.menu__item {
  margin-bottom: 32px;
  padding-top: 32px;
}
.menu a:first-child .menu__item {
  padding-top: 0;
}
.login {
  margin-bottom: 40px;
}

.sidebar__login {
  width: 27px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 24px;
  position: relative;
}
.sidebar__login-icon {
  font-family: "Roboto";
  color: black;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sidebar__login_active {
  background-color: #f5f5f7;
  border-radius: 8px;
}
.sidebar__login_disable {
  background-image: url(assets/icon/login.svg);
}
.sidebar__burger-button {
  border: none;
  background: none;
  padding: 0;
  width: 32px;
  height: 32px;
  display: none;
}
.sidebar__burger-icon {
  display: none;
  width: 32px;
  height: 8px;
  background-color: white;
  position: relative;
  border-radius: 8px;
}
.sidebar__burger-icon::before {
  content: "";
  background-color: white;
  width: 32px;
  height: 8px;
  position: absolute;
  bottom: 150%;
  left: 0;
  border-radius: 8px;
}
.sidebar__burger-icon::after {
  content: "";
  background-color: white;
  width: 32px;
  height: 8px;
  position: absolute;
  top: 150%;
  left: 0;
  border-radius: 8px;
}
.menu_show {
  display: flex !important;
}